
<div class="navbar-form">
  @using (Html.BeginForm("Results", "Home"))
{
  @Html.TextBox("SearchText","", new { @class = "form-control" })
  <input type="submit" value="Search" class="btn btn-toolbar"/>
}
</div>

