@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hungary
</address>

<address>
    <strong>Üzemeltető:</strong>   <a href="mailto:drigon@outlook.com">drigon@outlook.com</a><br />
    <strong>Hirortál Szerkesztőség:</strong> <a href="mailto:tszh-team@gmail.com">tszh-team@gmail.com</a>
</address>