@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Üzemeltető:</strong>   <a href="mailto:drigon@outlook.com">drigon@outlook.com</a><br />
    <strong>Hirortál Szerkesztőség:</strong> <a href="mailto:tszh-team@gmail.com">tszh-team@gmail.com</a>
</address>