@using Service.Models

@{
  ViewBag.Title = "Galery";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<Image>


<h2>Galery</h2>

<div>
  @if (Model != null && Model.Count > 0)
  {
    var wLength = Model.Count;
    <div class="jumbotron">
      <strong>Images:</strong><br />
      @for (var wIndex = 0; wIndex < wLength; wIndex++)
      {
      <img src="@Url.Action("ArticleImage", "Home", new { Id = Model[wIndex].Id })" class="img-thumbnail" />
      }
    </div>
    <div>
      <img src="@Url.Action("ArticleImage", "Home", new { Id = Model[ViewBag.EnlargedIndex].Id })" />
    </div>
  }
  @if (Model.Count > 1)
  {
    <div class="col-md-4">
      @Html.ActionLink("Previous", "Galery", new { articleId = ViewBag.articleId, step = -1 });
      @Html.ActionLink("Next", "Galery", new { articleId = ViewBag.articleId, step = 1 });
    </div>
  }
</div>
