@using Service.Models

@{
  ViewBag.Title = "Home Page";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<Article>
@if (Model == null || Model.Count() == 0)
{
  <p>No article has been published yet.</p>
}
else
{
  <div class="jumbotron">
    <h1>TSZH News Portal</h1>
    <p class="lead">Lead cikk helye </p>
  </div>
  <div class="row">
    @for (var wIndex = 0; wIndex < Model.Count && wIndex < 10; wIndex++)
    {
      <div class="col-md-4">
        <h2>
          @Html.ActionLink(Model[wIndex].Title, "Article", new { articleId = Model[wIndex].Id })
        </h2>
        <h3>@Model[wIndex].Summary</h3>
        <div>
          <img src="@Url.Action("ArticelImage", new { articleId = Model[wIndex].Id })" border="0" class="contentImage" />
        </div>
      </div>
    }
  </div>
}
